.cart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 80px;
    flex-direction: column;
    height:800px;
 }
 .title{
     text-transform: uppercase;
     font-size: medium;
     margin-bottom: 40px;
 }
 .table_container{
     width: 900px;
 }
 .delivery_total{
     display: flex;
     justify-content: flex-end;
     margin-top:20px;
 }
 .delivery, .total{
     border: 2px solid rgb(211,211,211);
     padding: 20px;
     text-transform: uppercase;  
 }
 .delivery{
    border-right:none;
 }