.listBooks {
  min-width: 100%;
}
.listBooks_container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 320px;
  padding: 1rem;
  flex-wrap: wrap;
}
@media (width < 768px) {
  .listBooks_container {
    flex-direction: column;
  }
}
@media (1024px <= width) {
  .listBooks_container {
    max-width: 1200px;
  }
}
