.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 70px;
}

.title {
    margin-bottom: 30px;
}

.tabs {
    max-width: 300px;
    min-width: 300px;
}

.checkbox p,
.password {
    font-size: 12px;
    color: gray;
}

.password {
    margin-bottom: 15px;
    margin-top: -20px;
}

.login_form_button {
    width: 300px;
    height: 40px;
    text-transform: uppercase;
}