.cart {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
    height: 800px;
}

.table_total {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

}

.table_container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
}

.delivery_total {
    flex-direction: column;
    display: flex;
    width: 20%;
    border: 1px solid rgb(211, 211, 211);
    padding: 20px;
    background-color: white;
    border-radius: 5%;
    margin-left: 20px;
    font-size: 16px;
}

.delivery_total div {
    margin-bottom: 15px;
}

.delivery_total div b {
    margin-left: 60px;
}

.delivery_total_title {
    margin: 0 auto;
    font-size: 18px;
}

.line {
    border-top: 1px solid rgb(211, 211, 211);
}

.total {
    display: flex;
    justify-content: flex-end;
    color: #ff0141;
}

.title {
    text-transform: uppercase;
    font-size: medium;
    margin-bottom: 40px;
}

.button {
    text-transform: uppercase;
    height: 40px;
    font-weight: 500;
}

.delivery {
    border-right: none;
}

.quantity {
    display: flex;
    flex-direction: row;
}