.header {
    display: flex;
    flex-direction: row;
    height: 100px;
    align-items: center;
    width: 100%;
}

.logobox img {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    width: 200px;
    height: 180px;
    margin-left: 70px;
    margin-top: 30px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-right: 120px;
}

.user_button {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.user_name {
    font-size: 12px;
    margin-top: 10px;
    margin-left: -25px;
}

.books {
    display: flex;
    text-transform: uppercase;
    font-size: large;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    background-color: inherit;
    border: none;
    margin-left: 180px;
    margin-top: 60px;
}

.books:hover {
    transform: scale(1.2);
}