.modal {
  min-width: 100%;
}
.modal_container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  min-width: 230px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.modal_container div {
  margin-bottom: 0.3rem;
}
.user_info,
.books {
  border-bottom: 0.1rem solid gray;
}
.user_info {
  display: flex;
  flex-direction: column;
}
.modal_container b {
  color: #ff0141;
}
.modal_container h2 {
  margin-bottom: 0.5rem;
}
.address_box {
  display: flex;
  flex-direction: column;
  border: 0.1rem;
  background-color: #e6f4ff;
  color: #1677ff;
  border-radius: 0.5rem;
  width: 10rem;
  min-height: 8rem;
  padding: 0.5rem;
}
.radio_buttons {
  display: flex;
  flex-wrap: wrap;
}
.books_info {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 0.1rem dashed gray;
}
.books_info div {
  margin-right: 0.3rem;
}
.books_info:last-child {
  border: none;
}
.confirm {
  text-transform: uppercase;
}
.address_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 0.1rem solid #1677ff;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.address_info button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
