.profile {
  min-width: 100%;
}
.profile_container {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-width: 320px;
  padding: 1rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.menu {
  width: 40rem;
}
.menu_container,
.orders {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
}
.choose_item {
  margin-top: 1rem;
}
.all_addresses {
  display: flex;
  flex-wrap: wrap;
}
.address_box {
  display: flex;
  flex-direction: column;
  border: 0.1rem;
  background-color: #e6f4ff;
  color: #1677ff;
  border-radius: 0.5rem;
  width: 15rem;
  height: 8rem;
  margin-right: 1rem;
  padding: 0.5rem;
}
.address_box button {
  width: 2rem;
  background-color: inherit;
  margin-bottom: 0.5rem;
  color: #1677ff;
  border: 0.1rem solid #1677ff;
  border-radius: 0.3rem;
}
.address_info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.address_info p,
.info_item div,
.order_address div {
  margin-right: 0.3rem;
  margin-bottom: 0.3rem;
}
.customer_info div,
.order div {
  margin-bottom: 0.5rem;
}
.logout_button {
  margin-top: 1rem;
}
.order {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid gray;
}
.data_price,
.order_address {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  color: #1677ff;
}
.order_address {
  justify-content: flex-start;
}
.info_item {
  display: flex;
  flex-wrap: wrap;
}
.add_address {
  max-width: 27rem;
}
.add_address div {
  margin: 0;
}
.address_form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.address_form input {
  min-width: 15rem;
}
.address_form div {
  margin-bottom: 0.3rem;
}
@media (width < 768px) {
  .menu,
  .add_address {
    width: 20rem;
  }
}
@media (1024px <= width) {
  .profile_container {
    max-width: 1200px;
  }
}
