.menu {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
}

.profile {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 600px;
}

.orders {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 600px;
}

.order {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
}

.data_price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 10px;
    justify-content: space-between;
    color: #1677ff;
}

.price,
.data {
    font-weight: bolder;
}

.info_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.info_item div {
    margin-left: 10px;
    margin-bottom: 10px;
}

.name_email div {
    margin-bottom: 10px;
}

.address {
    margin-top: 20px;
    margin-bottom: 50px;
}

.address_box {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px;
    background-color: #e6f4ff;
    color: #1677ff;
    border-radius: 5px;
    width: fit-content;
    padding: 15px 10px;
}

.address_box:hover {
    transform: scale(1.1);
}

.address_box div {
    margin-bottom: 5px;
}

.delete_button {
    border: none;
    display: flex;
    align-self: flex-end;
    color: #1677ff;
    margin-bottom: 5px;
    margin-top: -10px;
}